
html, body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #e78dbcbe;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-color: rgb(62, 140, 230);
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #491823b0;
    border-radius: 20px;
}

.header__nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header__nav__link {
    text-decoration: none;
    color: #e195f8;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.header__nav__link:hover {
    color: #caee74;
    background-color: #000000;
    border-radius: 5px;
}

.main {
    padding: 30px 0;
}

.main__section {
    background-color: #a7efde;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.title {
    font-size: 28px;
    color: #91a485;
    text-align: center;
    margin-bottom: 10px;
}

.text {
    font-size: 18px;
    color: #130109;
    margin-bottom: 15px;
    text-align: center;
}

.main__image {
    display: block;
    width: 350px;
    height: 500px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: #8b7fcf;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    border-top: 2px solid #190106;
    border-radius: 20px;
}

.footer_text {
    margin: 5px 0;
    font-size: 16px;
}
